<div class="container">
  <div class="conselhos">
    <h1>Conselho do dia</h1>
    <div class="mensagem">
      <h3>
        Sed ut orci quis neque convallis congue. Nullam iaculis sollicitudin
        auctor. Phasellus lobortis laoreet tellus sit amet cursus. Vivamus non
        pretium sem. Nam aliquam orci erat, et suscipit risus mattis eget. Cras
        purus ipsum, tempus quis tellus sit amet, tristique congue arcu. Sed
        aliquet rutrum purus, non euismod ligula vulputate vitae. Donec mi dui,
        posuere eget turpis quis, fermentum ullamcorper ipsum. Sed luctus
        placerat dolor ac accumsan.
      </h3>
    </div>
    <div class="button">
      <button class="share"><i class="fa-solid fa-share fa-bounce"></i></button>
      <button class="whats"><i class="fa-brands fa-whatsapp"></i></button>
      <button class="copy"><i class="fa-light fa-copy"></i></button>
      <button class="newMSG">Novo Conselho</button>
    </div>
  </div>
</div>
